<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EJS!</title>
    <script src="/js/main.js" async></script>
</head>

<body>
<h1>Hello EJS</h1>
<p>Create a new article</p>
<div id="create-article-form">
</div>


<div id="route"></div>

</body>
</html>